openapi: 3.0.3
info:
  title: Everflow Network API - Advertisers
  description: API for managing advertisers in the Everflow platform
  version: 1.0.0
  contact:
    name: Everflow Support
    url: https://helpdesk.everflow.io/en/
servers:
  - url: https://api.eflow.team
    description: Production server

security:
  - ApiKeyAuth: []

paths:
  /v1/networks/advertisers:
    post:
      summary: Create Advertiser
      description: Create a new advertiser in the network
      operationId: createAdvertiser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdvertiserRequest'
            example:
              name: "Some Brand Inc."
              account_status: "active"
              network_employee_id: 264
              default_currency_id: "USD"
              sales_manager_id: 227
              reporting_timezone_id: 80
              attribution_method: "last_touch"
              email_attribution_method: "last_affiliate_attribution"
              attribution_priority: "click"
              verification_token: "c7HIWpFUGnyQfN5wwBollBBGtUkeOm"
              internal_notes: "Some notes not visible to the advertiser"
              is_contact_address_enabled: true
              contact_address:
                address_1: "4110 rue St-Laurent"
                address_2: "202"
                city: "Montreal"
                zip_postal_code: "H2R 0A1"
                country_id: 36
                country_code: "CA"
                region_code: "QC"
              labels:
                - "DTC Brand"
              users:
                - account_status: "active"
                  language_id: 1
                  timezone_id: 80
                  currency_id: "USD"
                  first_name: "John"
                  last_name: "Doe"
                  email: "john.doe@example.com"
                  initial_password: ""
              billing:
                billing_frequency: "other"
                default_payment_terms: 0
                tax_id: "123456789"
              settings:
                exposed_variables:
                  affiliate_id: true
                  affiliate: false
                  sub1: true
                  sub2: true
                  sub3: false
                  sub4: false
                  sub5: false
                  source_id: false
                  offer_url: false
      responses:
        '201':
          description: Advertiser created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
        '400':
          description: Bad request - Invalid input parameters
        '401':
          description: Unauthorized - Invalid API key
        '422':
          description: Unprocessable entity - Validation errors

  /v1/networks/advertisers/{advertiserId}:
    get:
      summary: Get Advertiser by ID
      description: Retrieve a specific advertiser by their ID
      operationId: getAdvertiserById
      parameters:
        - name: advertiserId
          in: path
          required: true
          description: The ID of the advertiser to retrieve
          schema:
            type: integer
        - name: relationship
          in: query
          required: false
          description: Additional relationships to include in the response
          schema:
            type: array
            items:
              type: string
              enum: [reporting, labels, demand_partner, billing, integrations, api, sales_manager]
          style: form
          explode: false
      responses:
        '200':
          description: Advertiser retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
              example:
                network_advertiser_id: 1
                network_id: 1
                name: "Google"
                account_status: "active"
                network_employee_id: 11
                internal_notes: ""
                address_id: 0
                is_contact_address_enabled: false
                sales_manager_id: 17
                is_expose_publisher_reporting_data: null
                default_currency_id: "USD"
                platform_name: ""
                platform_url: ""
                platform_username: ""
                reporting_timezone_id: 67
                accounting_contact_email: ""
                verification_token: ""
                offer_id_macro: "oid"
                affiliate_id_macro: "affid"
                attribution_method: "last_touch"
                email_attribution_method: "last_affiliate_attribution"
                attribution_priority: "click"
                time_created: 1559919745
                time_saved: 1559919745
        '401':
          description: Unauthorized - Invalid API key
        '404':
          description: Advertiser not found

    put:
      summary: Update Advertiser
      description: Update an existing advertiser. All fields must be provided as this is a full update operation.
      operationId: updateAdvertiser
      parameters:
        - name: advertiserId
          in: path
          required: true
          description: The ID of the advertiser to update
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdvertiserRequest'
      responses:
        '200':
          description: Advertiser updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
        '400':
          description: Bad request - Invalid input parameters
        '401':
          description: Unauthorized - Invalid API key
        '404':
          description: Advertiser not found
        '422':
          description: Unprocessable entity - Validation errors

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Eflow-API-Key

  schemas:
    CreateAdvertiserRequest:
      type: object
      required:
        - name
        - account_status
        - network_employee_id
        - default_currency_id
        - reporting_timezone_id
        - attribution_method
        - email_attribution_method
        - attribution_priority
      properties:
        name:
          type: string
          description: The name of the advertiser
        account_status:
          type: string
          enum: [active, inactive, suspended]
          description: Status of the advertiser
        network_employee_id:
          type: integer
          description: The employee id of the advertiser's account manager
        internal_notes:
          type: string
          description: Internal notes for the advertiser
        address_id:
          type: integer
          description: The address id of the advertiser
        is_contact_address_enabled:
          type: boolean
          default: false
          description: Whether or not to include a contact address for this advertiser
        sales_manager_id:
          type: integer
          description: The employee id of the advertiser's sales manager
        default_currency_id:
          type: string
          description: The advertiser's default currency
        platform_name:
          type: string
          description: The name of the shopping cart or attribution platform
        platform_url:
          type: string
          description: The URL for logging into the advertiser's platform
        platform_username:
          type: string
          description: The username for logging into the advertiser's platform
        reporting_timezone_id:
          type: integer
          description: The timezone used in the advertiser's platform reporting
        attribution_method:
          type: string
          enum: [last_touch, first_touch]
          description: Determines how attribution works for this advertiser
        email_attribution_method:
          type: string
          enum: [last_affiliate_attribution, first_affiliate_attribution]
          description: Determines how email attribution works for this advertiser
        attribution_priority:
          type: string
          enum: [click, coupon_code]
          description: Determines attribution priority between click and coupon code
        accounting_contact_email:
          type: string
          description: The email address of the accounting contact
        verification_token:
          type: string
          maxLength: 50
          description: Verification token for incoming postbacks
        offer_id_macro:
          type: string
          description: The string used for the offer id macro
        affiliate_id_macro:
          type: string
          description: The string used for the affiliate id macro
        labels:
          type: array
          items:
            type: string
          description: The list of labels associated with the advertiser
        users:
          type: array
          maxItems: 1
          items:
            $ref: '#/components/schemas/AdvertiserUser'
          description: List of advertiser users (maximum one)
        contact_address:
          $ref: '#/components/schemas/ContactAddress'
        billing:
          $ref: '#/components/schemas/Billing'
        settings:
          $ref: '#/components/schemas/Settings'

    UpdateAdvertiserRequest:
      allOf:
        - $ref: '#/components/schemas/CreateAdvertiserRequest'
        - type: object
          properties:
            network_advertiser_id:
              type: integer
              description: The ID of the advertiser (read-only in update)
            network_id:
              type: integer
              description: The network ID (read-only in update)
            time_created:
              type: integer
              description: Creation timestamp (read-only in update)
            time_saved:
              type: integer
              description: Last save timestamp (read-only in update)

    Advertiser:
      type: object
      properties:
        network_advertiser_id:
          type: integer
          description: The unique ID of the advertiser
        network_id:
          type: integer
          description: The network ID
        name:
          type: string
          description: The name of the advertiser
        account_status:
          type: string
          enum: [active, inactive, suspended]
          description: Status of the advertiser
        network_employee_id:
          type: integer
          description: The employee id of the advertiser's account manager
        internal_notes:
          type: string
          description: Internal notes for the advertiser
        address_id:
          type: integer
          description: The address id of the advertiser
        is_contact_address_enabled:
          type: boolean
          description: Whether contact address is enabled
        sales_manager_id:
          type: integer
          description: The employee id of the advertiser's sales manager
        is_expose_publisher_reporting_data:
          type: boolean
          nullable: true
          description: Whether to expose publisher reporting data
        default_currency_id:
          type: string
          description: The advertiser's default currency
        platform_name:
          type: string
          description: The name of the shopping cart or attribution platform
        platform_url:
          type: string
          description: The URL for logging into the advertiser's platform
        platform_username:
          type: string
          description: The username for logging into the advertiser's platform
        reporting_timezone_id:
          type: integer
          description: The timezone used in the advertiser's platform reporting
        accounting_contact_email:
          type: string
          description: The email address of the accounting contact
        verification_token:
          type: string
          description: Verification token for incoming postbacks
        offer_id_macro:
          type: string
          description: The string used for the offer id macro
        affiliate_id_macro:
          type: string
          description: The string used for the affiliate id macro
        attribution_method:
          type: string
          enum: [last_touch, first_touch]
          description: How attribution works for this advertiser
        email_attribution_method:
          type: string
          enum: [last_affiliate_attribution, first_affiliate_attribution]
          description: How email attribution works for this advertiser
        attribution_priority:
          type: string
          enum: [click, coupon_code]
          description: Attribution priority between click and coupon code
        time_created:
          type: integer
          description: Creation timestamp
        time_saved:
          type: integer
          description: Last save timestamp
        relationship:
          type: object
          description: Related data based on requested relationships
          properties:
            labels:
              type: object
              properties:
                total:
                  type: integer
                entries:
                  type: array
                  items:
                    type: string
            account_manager:
              $ref: '#/components/schemas/Employee'
            sales_manager:
              $ref: '#/components/schemas/Employee'
            reporting:
              $ref: '#/components/schemas/ReportingData'
            api_keys:
              type: object
              properties:
                total:
                  type: integer
                entries:
                  type: array
                  items:
                    type: object
            api_whitelist_ips:
              type: object
              properties:
                total:
                  type: integer
                entries:
                  type: array
                  items:
                    type: object
            billing:
              $ref: '#/components/schemas/Billing'
            settings:
              $ref: '#/components/schemas/Settings'

    AdvertiserUser:
      type: object
      required:
        - first_name
        - last_name
        - email
        - account_status
        - language_id
        - timezone_id
        - currency_id
      properties:
        first_name:
          type: string
          description: The advertiser user's first name
        last_name:
          type: string
          description: The advertiser user's last name
        email:
          type: string
          format: email
          description: The advertiser user's email (must be unique)
        account_status:
          type: string
          enum: [active, inactive]
          description: The advertiser user's account status
        title:
          type: string
          description: The advertiser user's title
        work_phone:
          type: string
          description: The advertiser user's work phone number
        cell_phone:
          type: string
          description: The advertiser user's cell phone number
        instant_messaging_id:
          type: integer
          description: The id of an instant messaging platform
        instant_messaging_identifier:
          type: string
          description: The advertiser user's instant messaging identifier
        language_id:
          type: integer
          description: The advertiser user's language id (limited to 1 for English)
        timezone_id:
          type: integer
          description: The advertiser user's timezone id
        currency_id:
          type: string
          description: The advertiser user's currency id
        initial_password:
          type: string
          description: The advertiser user's login password (optional)

    ContactAddress:
      type: object
      required:
        - address_1
        - city
        - region_code
        - country_code
        - zip_postal_code
      properties:
        address_1:
          type: string
          description: The address first line
        address_2:
          type: string
          description: The address second line
        city:
          type: string
          description: The city name
        region_code:
          type: string
          description: The region code
        country_code:
          type: string
          description: The country code
        country_id:
          type: integer
          description: The country ID (numeric identifier)
        zip_postal_code:
          type: string
          description: The ZIP or Postal code

    Billing:
      type: object
      properties:
        billing_frequency:
          type: string
          enum: [weekly, bimonthly, monthly, two_months, quarterly, manual, other]
          description: The advertiser's invoicing frequency
        invoice_amount_threshold:
          type: number
          format: double
          default: 0
          description: Minimal amount required for invoice generation
        tax_id:
          type: string
          description: The advertiser's tax id
        is_invoice_creation_auto:
          type: boolean
          default: false
          description: Configures automatic invoice creations
        auto_invoice_start_date:
          type: string
          format: date
          description: Automatic invoice creation start date (YYYY-mm-dd)
        default_invoice_is_hidden:
          type: boolean
          default: false
          description: Whether invoices are hidden from advertiser by default
        invoice_generation_days_delay:
          type: integer
          default: 0
          description: Days to wait for invoice generation after billing period
        default_payment_terms:
          type: integer
          default: 0
          description: Number of days for payment terms on invoices
        details:
          type: object
          description: Billing frequency details (required for specific frequencies)
          properties:
            day_of_week:
              type: integer
              description: Day of the week (for weekly frequency)
            day_of_month_one:
              type: integer
              description: First day of the month (for bimonthly frequency)
            day_of_month_two:
              type: integer
              description: Second day of the month (for bimonthly frequency)
            day_of_month:
              type: integer
              description: Day of the month (for monthly, two_months, quarterly)
            starting_month:
              type: integer
              description: Starting month for cycle (for two_months, quarterly)

    Settings:
      type: object
      properties:
        exposed_variables:
          type: object
          description: Variables exposed in the Advertiser UI
          properties:
            affiliate_id:
              type: boolean
              description: Whether to expose affiliate id variable
            affiliate:
              type: boolean
              description: Whether to expose affiliate variables (name and id)
            sub1:
              type: boolean
              description: Whether to expose Sub1 variable
            sub2:
              type: boolean
              description: Whether to expose Sub2 variable
            sub3:
              type: boolean
              description: Whether to expose Sub3 variable
            sub4:
              type: boolean
              description: Whether to expose Sub4 variable
            sub5:
              type: boolean
              description: Whether to expose Sub5 variable
            source_id:
              type: boolean
              description: Whether to expose Source ID variable
            offer_url:
              type: boolean
              description: Whether to expose offer URL variable

    Employee:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        work_phone:
          type: string
        cell_phone:
          type: string
        instant_messaging_id:
          type: integer
        instant_messaging_identifier:
          type: string

    ReportingData:
      type: object
      properties:
        imp:
          type: integer
          description: Impressions
        total_click:
          type: integer
          description: Total clicks
        unique_click:
          type: integer
          description: Unique clicks
        invalid_click:
          type: integer
          description: Invalid clicks
        duplicate_click:
          type: integer
          description: Duplicate clicks
        gross_click:
          type: integer
          description: Gross clicks
        ctr:
          type: number
          description: Click-through rate
        cv:
          type: integer
          description: Conversions
        invalid_cv_scrub:
          type: integer
          description: Invalid conversions scrubbed
        view_through_cv:
          type: integer
          description: View-through conversions
        total_cv:
          type: integer
          description: Total conversions
        event:
          type: integer
          description: Events
        cvr:
          type: number
          description: Conversion rate
        evr:
          type: number
          description: Event rate
        cpc:
          type: number
          description: Cost per click
        cpm:
          type: number
          description: Cost per mille
        cpa:
          type: number
          description: Cost per acquisition
        epc:
          type: number
          description: Earnings per click
        rpc:
          type: number
          description: Revenue per click
        rpa:
          type: number
          description: Revenue per acquisition
        rpm:
          type: number
          description: Revenue per mille
        payout:
          type: number
          description: Payout amount
        revenue:
          type: number
          description: Revenue amount
        event_revenue:
          type: number
          description: Event revenue
        gross_sales:
          type: number
          description: Gross sales
        profit:
          type: number
          description: Profit
        margin:
          type: number
          description: Margin
        roas:
          type: number
          description: Return on ad spend
        avg_sale_value:
          type: number
          description: Average sale value
        media_buying_cost:
          type: number
          description: Media buying cost
