openapi: 3.0.0
info:
  title: Everflow Network API - Offers
  description: API for managing offers in the Everflow platform
  version: 1.0.0
servers:
  - url: https://api.eflow.team/v1
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /networks/offers:
    post:
      summary: Create an offer
      description: Create a new offer in the Everflow platform. Note that the payload for creating offers is complex.
      operationId: createOffer
      tags:
        - Offers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOfferRequest'
      responses:
        '200':
          description: Successfully created offer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  
  /networks/offers/{offerId}:
    get:
      summary: Find offer by ID
      description: Fetch the details of a single offer by its ID
      operationId: getOfferById
      tags:
        - Offers
      parameters:
        - name: offerId
          in: path
          required: true
          description: The ID of the offer you want to fetch
          schema:
            type: integer
        - name: relationship
          in: query
          required: false
          description: Additional relationships to include (comma-separated)
          schema:
            type: string
            enum:
              - advertiser
              - offer_group
              - visibility
              - payout_revenue
              - custom_cap_settings
              - custom_scrub_rate_settings
              - custom_payout_revenue_settings
              - custom_creative_settings
              - redirects
              - traffic_filters
              - targeting
              - files
              - audits
              - source_name
              - urls
              - integrations
              - campaigns
              - advertiser_global_events
              - offer_email
              - offer_email_optout
              - reporting
      responses:
        '200':
          description: Successfully retrieved offer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResponse'
        '404':
          description: Offer not found
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    
    put:
      summary: Update an offer
      description: Update an existing offer. Requires passing the entire offer object, not just the fields to update.
      operationId: updateOffer
      tags:
        - Offers
      parameters:
        - name: offerId
          in: path
          required: true
          description: The ID of the offer you want to update
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOfferRequest'
      responses:
        '200':
          description: Successfully updated offer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResponse'
        '400':
          description: Bad request
        '404':
          description: Offer not found
        '401':
          description: Unauthorized
        '500':
          description: Internal server error

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Eflow-API-Key
      description: API key for authentication
  
  schemas:
    CreateOfferRequest:
      type: object
      required:
        - network_advertiser_id
        - name
        - destination_url
        - offer_status
        - payout_revenue
      properties:
        network_advertiser_id:
          type: integer
          description: ID of the advertiser submitting the offer
        network_offer_group_id:
          type: integer
          description: ID of the offer group associated with the offer
        name:
          type: string
          description: Displayed name of the offer
        thumbnail_url:
          type: string
          description: URL of the image thumbnail associated with the offer
        network_category_id:
          type: integer
          description: ID of the category type associated with the offer
        internal_notes:
          type: string
          description: Notes on the offer for network employees
        destination_url:
          type: string
          description: URL of the final landing page associated with the offer
        server_side_url:
          type: string
          description: Server-side URL that will be asynchronously fired by Everflow
        is_view_through_enabled:
          type: boolean
          description: Whether conversions can be generated from impressions
          default: false
        view_through_destination_url:
          type: string
          description: URL of the final landing page when redirected from an impression
        preview_url:
          type: string
          description: URL of a preview of the offer landing page
        offer_status:
          type: string
          enum: [active, paused, pending, deleted]
          description: Status of the offer
        currency_id:
          type: string
          description: Currency used to compute payouts, costs and revenues
          default: USD
        caps_timezone_id:
          type: integer
          description: ID of the timezone used for caps
          default: 0
        project_id:
          type: string
          description: ID for the advertiser campaign or an Insertion Order
        date_live_until:
          type: string
          format: date
          description: Date until when the offer can be run (yyyy-MM-dd)
        html_description:
          type: string
          description: Description of the offer for affiliates (HTML accepted)
        is_using_explicit_terms_and_conditions:
          type: boolean
          description: Whether the offer is using specific Terms and Conditions
          default: false
        terms_and_conditions:
          type: string
          description: Text listing the specific Terms and Conditions
        is_force_terms_and_conditions:
          type: boolean
          description: Whether affiliates are required to accept the offer's Terms and Conditions
          default: false
        is_caps_enabled:
          type: boolean
          description: Whether caps are enabled
          default: false
        daily_conversion_cap:
          type: integer
          description: Limit to the number of unique conversions in one day
          default: 0
        weekly_conversion_cap:
          type: integer
          description: Limit to the number of unique conversions in one week
          default: 0
        monthly_conversion_cap:
          type: integer
          description: Limit to the number of unique conversions in one month
          default: 0
        global_conversion_cap:
          type: integer
          description: Limit to the total number of unique conversions
          default: 0
        daily_payout_cap:
          type: integer
          description: Limit to the affiliate's payout for one day
          default: 0
        weekly_payout_cap:
          type: integer
          description: Limit to the affiliate's payout for one week
          default: 0
        monthly_payout_cap:
          type: integer
          description: Limit to the affiliate's payout for one month
          default: 0
        global_payout_cap:
          type: integer
          description: Limit to the affiliate's total payout
          default: 0
        daily_revenue_cap:
          type: integer
          description: Limit to the network's revenue for one day
          default: 0
        weekly_revenue_cap:
          type: integer
          description: Limit to the network's revenue for one week
          default: 0
        monthly_revenue_cap:
          type: integer
          description: Limit to the network's revenue for one month
          default: 0
        global_revenue_cap:
          type: integer
          description: Limit to the network's total revenue
          default: 0
        daily_click_cap:
          type: integer
          description: Limit to the number of unique clicks in one day
          default: 0
        weekly_click_cap:
          type: integer
          description: Limit to the number of unique clicks in one week
          default: 0
        monthly_click_cap:
          type: integer
          description: Limit to the number of unique clicks in one month
          default: 0
        global_click_cap:
          type: integer
          description: Limit to the total number of unique clicks
          default: 0
        redirect_mode:
          type: string
          enum: [standard, single_meta_refresh, double_meta_refresh]
          description: Setting used to obscure referrer URLs from advertisers
          default: standard
        is_using_suppression_list:
          type: boolean
          description: Whether an email suppression list is used
          default: false
        suppression_list_id:
          type: integer
          description: ID of the suppression list
          default: 0
        is_duplicate_filter_enabled:
          type: boolean
          description: Whether duplicate clicks are filtered
          default: false
        duplicate_filter_targeting_action:
          type: string
          enum: [block, fail_traffic]
          description: Action for duplicate clicks
        network_tracking_domain_id:
          type: integer
          description: ID of the tracking domain
        is_use_secure_link:
          type: boolean
          description: Whether tracking links use HTTPS
          default: false
        is_allow_deep_link:
          type: boolean
          description: Whether affiliates can send traffic to target URLs
          default: false
        is_session_tracking_enabled:
          type: boolean
          description: Whether conversions are blocked based on time intervals
          default: false
        session_tracking_lifespan_hour:
          type: integer
          description: Maximum interval between click and conversion
          default: 0
        session_tracking_minimum_lifespan_second:
          type: integer
          description: Minimum interval between click and conversion
          default: 0
        is_view_through_session_tracking_enabled:
          type: boolean
          description: Whether conversions from impressions are time-tracked
          default: false
        view_through_session_tracking_lifespan_minute:
          type: integer
          description: Maximum interval between impression and conversion
          default: 0
        view_through_session_tracking_minimal_lifespan_second:
          type: integer
          description: Minimum interval between impression and conversion
          default: 0
        is_block_already_converted:
          type: boolean
          description: Whether to block clicks from already-converted users
          default: false
        already_converted_action:
          type: string
          enum: [block, fail_traffic]
          description: Action for already-converted users
        visibility:
          type: string
          enum: [public, require_approval, private]
          description: Offer visibility for affiliates
          default: public
        conversion_method:
          type: string
          enum: [http_image_pixel, https_image_pixel, server_postback, cookie_based, http_iframe_pixel, https_iframe_pixel, javascript]
          description: Method used by advertiser to fire tracking data
          default: server_postback
        is_whitelist_check_enabled:
          type: boolean
          description: Whether to check conversion postback origin
          default: false
        is_use_scrub_rate:
          type: boolean
          description: Whether to throttle conversions
          default: false
        scrub_rate_status:
          type: string
          enum: [rejected, pending]
          description: Status for throttled conversions
        scrub_rate_percentage:
          type: integer
          description: Percentage of conversions to throttle
          default: 0
        session_definition:
          type: string
          enum: [cookie, ip, ip_user_agent, google_ad_id, idfa]
          description: Method for determining unique clicks
          default: cookie
        session_duration:
          type: integer
          description: Duration of active session in hours
          default: 24
        app_identifier:
          type: string
          description: Bundle ID for iOS/Android Apps
        is_description_plain_text:
          type: boolean
          description: Whether description is plain text
          default: false
        is_use_direct_linking:
          type: boolean
          description: Whether offer uses Direct Linking
          default: false
        is_fail_traffic_enabled:
          type: boolean
          description: Whether invalid clicks are redirected
          default: false
        redirect_routing_method:
          type: string
          enum: [internal]
          description: How fail traffic is handled
          default: internal
        redirect_internal_routing_type:
          type: string
          enum: [priority, weight, priority_global, weight_global]
          description: Redirect distribution mechanism
          default: priority
        meta:
          $ref: '#/components/schemas/Meta'
        creatives:
          type: array
          items:
            $ref: '#/components/schemas/Creative'
        internal_redirects:
          type: array
          items:
            $ref: '#/components/schemas/InternalRedirect'
        ruleset:
          $ref: '#/components/schemas/Ruleset'
        traffic_filters:
          type: array
          items:
            $ref: '#/components/schemas/TrafficFilter'
        email:
          $ref: '#/components/schemas/EmailSettings'
        email_optout:
          $ref: '#/components/schemas/EmailOptoutSettings'
        labels:
          type: array
          items:
            type: string
          description: Labels for organizing offers
        source_names:
          type: array
          items:
            type: string
          description: Names of the source
        payout_revenue:
          type: array
          items:
            $ref: '#/components/schemas/PayoutRevenue'
        thumbnail_file:
          $ref: '#/components/schemas/ThumbnailFile'
        integrations:
          $ref: '#/components/schemas/Integrations'
        channels:
          type: array
          items:
            $ref: '#/components/schemas/Channel'
        requirement_kpis:
          type: array
          items:
            $ref: '#/components/schemas/RequirementKPI'
        requirement_tracking_parameters:
          type: array
          items:
            $ref: '#/components/schemas/RequirementTrackingParameter'
        email_attribution_method:
          type: string
          enum: [first_affiliate_attribution, last_affiliate_attribution]
          description: Email attribution method
        attribution_method:
          type: string
          enum: [first_touch, last_touch]
          description: Attribution method
    
    UpdateOfferRequest:
      allOf:
        - $ref: '#/components/schemas/CreateOfferRequest'
      description: Same as CreateOfferRequest but all fields must be provided
    
    OfferResponse:
      type: object
      properties:
        network_offer_id:
          type: integer
          description: ID of the offer
        network_id:
          type: integer
          description: ID of the network
        network_advertiser_id:
          type: integer
          description: ID of the advertiser
        network_offer_group_id:
          type: integer
          description: ID of the offer group
        name:
          type: string
          description: Name of the offer
        thumbnail_url:
          type: string
          description: Thumbnail URL
        network_category_id:
          type: integer
          description: Category ID
        internal_notes:
          type: string
          description: Internal notes
        destination_url:
          type: string
          description: Landing page URL
        server_side_url:
          type: string
          description: Server-side URL
        is_view_through_enabled:
          type: boolean
          description: View through enabled
        view_through_destination_url:
          type: string
          description: View through destination URL
        preview_url:
          type: string
          description: Preview URL
        offer_status:
          type: string
          enum: [active, paused, pending, deleted]
          description: Offer status
        currency_id:
          type: string
          description: Currency ID
        caps_timezone_id:
          type: integer
          description: Caps timezone ID
        project_id:
          type: string
          description: Project ID
        date_live_until:
          type: string
          description: Live until date
        html_description:
          type: string
          description: HTML description
        is_using_explicit_terms_and_conditions:
          type: boolean
          description: Using explicit terms
        terms_and_conditions:
          type: string
          description: Terms and conditions
        is_force_terms_and_conditions:
          type: boolean
          description: Force terms acceptance
        is_caps_enabled:
          type: boolean
          description: Caps enabled
        daily_conversion_cap:
          type: integer
          description: Daily conversion cap
        weekly_conversion_cap:
          type: integer
          description: Weekly conversion cap
        monthly_conversion_cap:
          type: integer
          description: Monthly conversion cap
        global_conversion_cap:
          type: integer
          description: Global conversion cap
        daily_payout_cap:
          type: integer
          description: Daily payout cap
        weekly_payout_cap:
          type: integer
          description: Weekly payout cap
        monthly_payout_cap:
          type: integer
          description: Monthly payout cap
        global_payout_cap:
          type: integer
          description: Global payout cap
        daily_revenue_cap:
          type: integer
          description: Daily revenue cap
        weekly_revenue_cap:
          type: integer
          description: Weekly revenue cap
        monthly_revenue_cap:
          type: integer
          description: Monthly revenue cap
        global_revenue_cap:
          type: integer
          description: Global revenue cap
        daily_click_cap:
          type: integer
          description: Daily click cap
        weekly_click_cap:
          type: integer
          description: Weekly click cap
        monthly_click_cap:
          type: integer
          description: Monthly click cap
        global_click_cap:
          type: integer
          description: Global click cap
        redirect_mode:
          type: string
          description: Redirect mode
        is_using_suppression_list:
          type: boolean
          description: Using suppression list
        suppression_list_id:
          type: integer
          description: Suppression list ID
        is_must_approve_conversion:
          type: boolean
          description: Must approve conversions
        is_allow_duplicate_conversion:
          type: boolean
          description: Allow duplicate conversions
        is_duplicate_filter_enabled:
          type: boolean
          description: Duplicate filter enabled
        duplicate_filter_targeting_action:
          type: string
          description: Duplicate filter action
        network_tracking_domain_id:
          type: integer
          description: Tracking domain ID
        is_use_secure_link:
          type: boolean
          description: Use secure links
        is_seo_friendly:
          type: boolean
          description: SEO friendly
        is_allow_deep_link:
          type: boolean
          description: Allow deep linking
        is_session_tracking_enabled:
          type: boolean
          description: Session tracking enabled
        session_tracking_start_on:
          type: string
          description: Session tracking start
        session_tracking_lifespan_hour:
          type: integer
          description: Session lifespan hours
        session_tracking_minimum_lifespan_second:
          type: integer
          description: Minimum session lifespan
        is_view_through_session_tracking_enabled:
          type: boolean
          description: View through tracking enabled
        view_through_session_tracking_lifespan_minute:
          type: integer
          description: View through lifespan
        view_through_session_tracking_minimal_lifespan_second:
          type: integer
          description: View through minimum lifespan
        is_block_already_converted:
          type: boolean
          description: Block already converted
        already_converted_action:
          type: string
          description: Already converted action
        is_fail_traffic_enabled:
          type: boolean
          description: Fail traffic enabled
        redirect_routing_method:
          type: string
          description: Redirect routing method
        redirect_internal_routing_type:
          type: string
          description: Internal routing type
        visibility:
          type: string
          description: Visibility setting
        time_created:
          type: integer
          description: Creation timestamp
        time_saved:
          type: integer
          description: Last saved timestamp
        conversion_method:
          type: string
          description: Conversion method
        is_whitelist_check_enabled:
          type: boolean
          description: Whitelist check enabled
        is_use_scrub_rate:
          type: boolean
          description: Use scrub rate
        scrub_rate_status:
          type: string
          description: Scrub rate status
        scrub_rate_percentage:
          type: integer
          description: Scrub rate percentage
        session_definition:
          type: string
          description: Session definition
        session_duration:
          type: integer
          description: Session duration
        app_identifier:
          type: string
          description: App identifier
        is_description_plain_text:
          type: boolean
          description: Plain text description
        is_use_direct_linking:
          type: boolean
          description: Use direct linking
        is_email_attribution_enabled:
          type: boolean
          description: Email attribution enabled
        is_email_attribution_window_enabled:
          type: boolean
          description: Email attribution window enabled
        email_attribution_window_minute:
          type: integer
          description: Email attribution window
        email_attribution_window_type:
          type: string
          description: Attribution window type
        relationship:
          type: object
          description: Related data based on requested relationships
    
    Meta:
      type: object
      properties:
        advertiser_campaign_name:
          type: string
          description: Optional advertiser campaign name
    
    Creative:
      type: object
      required:
        - name
        - creative_type
        - creative_status
      properties:
        name:
          type: string
          description: Name of the creative
        creative_type:
          type: string
          enum: [image, html, thumbnail, email, archive, video, text]
          description: Type of creative
        is_private:
          type: boolean
          description: Whether creative is private
          default: false
        creative_status:
          type: string
          enum: [active, deleted]
          description: Status of creative
        html_code:
          type: string
          description: HTML content (required for html/email types)
        width:
          type: integer
          description: Width (required for html type)
        height:
          type: integer
          description: Height (required for html type)
        email_from:
          type: string
          description: From field (required for email type)
        email_subject:
          type: string
          description: Subject field (required for email type)
        resource_file:
          $ref: '#/components/schemas/ResourceFile'
        html_files:
          type: array
          items:
            $ref: '#/components/schemas/HtmlFile'
    
    ResourceFile:
      type: object
      required:
        - temp_url
        - original_file_name
      properties:
        temp_url:
          type: string
          description: Temporary URL from file upload
        original_file_name:
          type: string
          description: Original filename
    
    HtmlFile:
      type: object
      required:
        - temp_url
        - original_file_name
      properties:
        temp_url:
          type: string
          description: Temporary URL from file upload
        original_file_name:
          type: string
          description: Filename used for macro generation
    
    InternalRedirect:
      type: object
      properties:
        redirect_network_offer_id:
          type: integer
          description: Offer ID to redirect to
        redirect_network_offer_url_id:
          type: integer
          description: Offer URL ID (0 for default)
        redirect_network_offer_group_id:
          type: integer
          description: Offer group ID to redirect to
        redirect_network_campaign_id:
          type: integer
          description: Campaign ID to redirect to
        routing_value:
          type: integer
          description: Priority or weight value
        ruleset:
          $ref: '#/components/schemas/Ruleset'
        categories:
          type: array
          items:
            type: string
            enum: [traffic_filter, traffic_control, already_converted, offer_expired, geotargeting, caps, other]
          description: Fail traffic categories
        is_pay_affiliate:
          type: boolean
          description: Whether to pay affiliate
          default: false
        is_pass_through:
          type: boolean
          description: Whether to pass through to destination
          default: false
        is_apply_specific_affiliates:
          type: boolean
          description: Whether to apply to specific affiliates
          default: false
        network_affiliate_ids:
          type: array
          items:
            type: integer
          description: Specific affiliate IDs
    
    Ruleset:
      type: object
      description: Targeting rules for traffic
      properties:
        platforms:
          type: array
          items:
            type: object
        device_types:
          type: array
          items:
            type: object
        os_versions:
          type: array
          items:
            type: object
        browsers:
          type: array
          items:
            type: object
        languages:
          type: array
          items:
            type: object
        countries:
          type: array
          items:
            type: object
        regions:
          type: array
          items:
            type: object
        cities:
          type: array
          items:
            type: object
        dmas:
          type: array
          items:
            type: object
        mobile_carriers:
          type: array
          items:
            type: object
        connection_types:
          type: array
          items:
            type: object
        ips:
          type: array
          items:
            type: object
        is_block_proxy:
          type: boolean
          description: Block proxy traffic
          default: false
        is_use_day_parting:
          type: boolean
          description: Enable day parting
          default: false
        day_parting_apply_to:
          type: string
          enum: [user_timezone, selected_timezone]
          description: Day parting timezone setting
        day_parting_timezone_id:
          type: integer
          description: Timezone ID for day parting
        days_parting:
          type: array
          items:
            type: object
        isps:
          type: array
          items:
            type: object
        brands:
          type: array
          items:
            type: object
        postal_codes:
          type: array
          items:
            type: object
    
    TrafficFilter:
      type: object
      required:
        - parameter
        - match_type
        - value
        - action
      properties:
        parameter:
          type: string
          enum: [sub1, sub2, sub3, sub4, sub5, source_id, user_agent, referer, idfa, google_advertiser_id, http_accept_language, creative_id]
          description: Parameter to filter
        match_type:
          type: string
          enum: [exact, minimum, maximum, contains, starts_with, range, ends_with, blank, does_not_match, does_not_contain]
          description: Matching type
        value:
          type: string
          description: Value to match
        action:
          type: string
          enum: [block, fail_traffic]
          description: Action to take
    
    EmailSettings:
      type: object
      properties:
        is_enabled:
          type: boolean
          description: Email settings enabled
        subject_lines:
          type: string
          description: Approved subject lines
        from_lines:
          type: string
          description: Approved from lines
    
    EmailOptoutSettings:
      type: object
      properties:
        is_enabled:
          type: boolean
          description: Email optout enabled
        suppression_file_link:
          type: string
          description: Suppression file URL
        unsub_link:
          type: string
          description: Unsubscribe URL
    
    PayoutRevenue:
      type: object
      required:
        - payout_type
        - revenue_type
        - is_default
        - is_private
      properties:
        entry_name:
          type: string
          description: Event name
          default: Base
        payout_type:
          type: string
          enum: [cpc, cpa, cpm, cps, cpa_cps, prv]
          description: Payout type
        payout_amount:
          type: number
          format: double
          description: Payout amount
        payout_percentage:
          type: integer
          description: Payout percentage
        revenue_type:
          type: string
          enum: [rpc, rpa, rpm, rps, rpa_rps]
          description: Revenue type
        revenue_amount:
          type: number
          format: double
          description: Revenue amount
        revenue_percentage:
          type: integer
          description: Revenue percentage
        is_default:
          type: boolean
          description: Is base conversion
        is_private:
          type: boolean
          description: Is private event
        is_postback_disabled:
          type: boolean
          description: Disable partner postback
          default: false
        global_advertiser_event_id:
          type: integer
          description: Global advertiser event ID
          default: 0
        is_must_approve_conversion:
          type: boolean
          description: Require conversion approval
          default: false
        is_allow_duplicate_conversion:
          type: boolean
          description: Allow duplicate conversions
          default: true
    
    ThumbnailFile:
      type: object
      properties:
        temp_url:
          type: string
          description: Temporary file URL
        original_file_name:
          type: string
          description: Original filename
    
    Integrations:
      type: object
      properties:
        optizmo:
          type: object
          properties:
            optoutlist_id:
              type: string
              description: Optizmo optout list ID
        twentyfour_metrics:
          type: object
          properties:
            network_integration_twentyfour_metrics_tracker_id:
              type: integer
              description: 24metrics tracker ID
        forensiq:
          type: object
          properties:
            click_threshold:
              type: integer
              description: Click threshold
            action:
              type: string
              enum: [block, fail_traffic]
              description: Click threshold action
            conversion_threshold:
              type: integer
              description: Conversion threshold
            conversion_status:
              type: string
              enum: [pending, rejected]
              description: Conversion threshold status
        ezepo:
          type: object
          properties:
            enabled:
              type: boolean
              description: Ezepo enabled
        anura:
          type: object
          properties:
            enabled:
              type: boolean
              description: Anura enabled
        invoca:
          type: object
          properties:
            enabled:
              type: boolean
              description: Invoca enabled
    
    Channel:
      type: object
      properties:
        network_channel_id:
          type: integer
          description: Channel ID
    
    RequirementKPI:
      type: object
      properties:
        kpi:
          type: string
          description: KPI threshold
    
    RequirementTrackingParameter:
      type: object
      properties:
        tracking_parameter:
          type: string
          description: Tracking parameter name
        value:
          type: string
          description: Parameter value
